# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Kaggle
.kaggle/
kagglehub_cache/
*.kaggle.json

# Datasets and outputs
#data/
raw_data/
processed_data/
kaggle-downloads/
#*.csv
*.xlsx
*.pkl
models/
checkpoints/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints
.jupyter/
jupyter/
#*.ipynb

# Environment
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
